/* archivista-dashboard.component.css */

/* Contenedor principal */
.container {
  font-family: Verdana, Arial, sans-serif;
  background-color: var(--mncr-white);
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Sección de encabezado */
.section-header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: var(--mncr-black);
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  color: var(--mncr-black);
}

/* Estilo para los KPIs */
.kpi-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.kpi-card {
  background-color: var(--mncr-white);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 23%;
}

.kpi-card .kpi-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mncr-brown);
}

.kpi-card .kpi-value {
  font-size: 2rem;
  color: var(--mncr-black);
}

.kpi-card .kpi-description {
  font-size: 1rem;
  color: var(--mncr-black);
}

/* Estilo para los módulos */
.module-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.module-card {
  background-color: var(--mncr-white);
  padding: 20px;
  width: 48%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.module-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-icon {
  width: 40px;
  height: 40px;
}

.module-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--mncr-black);
}

.module-description {
  font-size: 1rem;
  color: var(--mncr-black);
}

.module-actions {
  margin-top: 20px;
}

.module-actions .btn {
  padding: 12px 24px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 10px;
  background-color: var(--mncr-yellow);
  color: white;
  border: none;
}

.module-actions .btn:hover {
  background-color: var(--mncr-blue-3015);
}

.module-actions .btn--secondary {
  background-color: var(--mncr-orange-165);
}

.module-actions .btn--secondary:hover {
  background-color: var(--mncr-celeste-306);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .kpi-container {
    flex-direction: column;
    gap: 20px;
  }

  .kpi-card {
    width: 100%;
  }

  .module-container {
    flex-direction: column;
  }

  .module-card {
    width: 100%;
  }
}
